@import 'colors.scss';

@mixin rounding {
  border-radius: 16px;
}

* {
  all: unset;
  font-family: Ubuntu Nerd Font;
}

window {
  @include rounding;
}

.bar {
  color: $fg;
  background: $bg;
  padding: 0 1em;
  @include rounding;
}

.module {
  margin: 0 6px;
}

tooltip {
  background: $bg;
  border-radius: 8px;
  color: $fg;
}

label {
  font-size: 1rem;
}

.separator {
  color: $bg-alt;
}

.hour {
  font-weight: bold;
  padding-left: 5px;
}

.minute {
  font-weight: bold;
}

.date {
  background: $bg;
  @include rounding;
}

.icon-text {
  font-size: 3rem;
  padding: .7rem;
}

.icon {
  font-family: Material Design Icons Desktop;
  font-size: 15pt;
}

.music-icon {
  color: $cyan;
}

.spotify {
  color: #1DB954;
}

.song-title {
  color: $fg;
  margin: 0 0.6em;
}

.media-controls {
  color: $comment;
}

.song-prev,
.song-pp,
.song-next {
  margin: 1px;
}

.network-label {
  margin-left: 6px;
  color: $fg;
}

.network-disconnected {
  color: $comment;
}

.network-connected {
  color: $purple
}

.brightness-icon {
  color: $cyan;
  margin-left: 3px;
}

.brightness-scale {
  padding: 0.3em;
  margin: 1em 5px 1em 5px;
  border-radius: 20px;
  background: linear-gradient(to right, $cyan, $yellow);
}

.volume-icon {
  color: $yellow;
  margin-top: 2px;
}

.volume-scale {
  padding: 0.3em;
  margin: 1em 5px 1em 5px;
  border-radius: 20px;
  background: linear-gradient(to right, $yellow, $red);
}

.workspaces {
  @include rounding;

  .focused {
    color: $purple;
    &:hover {
      color: $pink;
    }
  }

  .visible {
    color: $comment;
    &:hover {
      color: $pink;
    }
  }

  .urgent {
    color: $orange;
    &:hover {
      color: $pink;
    }
  }

  .active {
    color: $fg;
    &:hover {
      color: $pink;
    }
  }
}

.circle-temp,
.circle-disk,
.circle-cpu,
.circle-memory,
.circle-battery-high,
.circle-battery-good,
.circle-battery-low,
.circle-battery-critical {
  background-color: $bg-alt;
}

.circle-temp,
.icon-temp {
  color: $orange;
}

.circle-temp-critical,
.icon-temp-critical {
  color: $red;
}

.circle-disk,
.icon-disk {
  color: $comment;
}

.circle-cpu,
.icon-cpu {
  color: $cyan;
}

.circle-memory,
.icon-memory {
  color: $pink
}

.circle-battery-high,
.icon-battery-high {
  color: $green;
}

.circle-battery-good,
.icon-battery-good {
  color: $yellow;
}

.circle-battery-low ,
.icon-battery-low {
  color: $orange;
}

.circle-battery-critical,
.icon-battery-critical {
  color: $red;
}

.icon-battery-high,
.icon-battery-good,
.icon-battery-low,
.icon-battery-critical,
.icon-memory,
.icon-cpu,
.icon-disk,
.icon-temp {
  background-color: $bg;
}

.sys-text {
  margin: 0 0.3em;
  color: $fg;
}
