label {
    all: unset;
}

button {
    all: unset;
}

window#waybar {
    background: transparent;
}

#window, #taskbar {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 12px;
    transition: none;
    color: #f8f8f2;
    background-color: #1e2029;
    margin-bottom: 8px;
    font-family: Ubuntu;
    font-size: 13px;
}

#workspaces {
    background-color: #1e2029;
    border-radius: 20px;
    font-family: Ubuntu Nerd Font;
    font-size: 17px;
    margin-bottom: 8px;
}

#workspaces button {
    color: #f8f8f2;
    border: none;
    transition: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#taskbar button {
    transition: none;
    border-radius: 0px;
}

#workspaces button:hover {
    color: #1e2029;
    background-color: #6272a4;
}

#workspace button.visible {
    color: #6272a4;
}

#workspaces button.current_output.focused,
#workspaces button.active {
    color: #bd93f9;
}

#workspaces button.focused:hover,
#workspaces button.active:hover {
    color: #1e2029;
    background-color: #bd93f9;
}

#mode:not(empty) {
    font-family: Ubuntu;
    font-size: 13px;
    color: #1e2029;
    background-color: #8be9fd;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    margin-left: 10px;
}

#workspaces button.urgent {
    color: #ffb86c;
}

#workspaces button.urgent:hover {
    color: #1e2029;
    background-color: #ffb86c;
}

#pulseaudio,
#backlight,
#cpu,
#clock,
#memory,
#tray,
#disk,
#temperature,
#battery {
    color: #f8f8f2;
    background-color: #1e2029;
    margin-bottom: 8px;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    padding-right: 10px;
    border-radius: 0px;
}

#temperature.critical {
    color: #ff5555;
}

#custom-spotify {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 12px;
}

#custom-spotify {
    background-color: #1e2029;
    margin-bottom: 8px;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    padding-right: 12px;
}

#custom-spotify.Playing {
    color: #f8f8f2;
}

#custom-spotify.Paused {
    color: #6272a4;
}

#custom-spotify-next,
#custom-spotify-prev {
    font-family: Ubuntu Nerd Font;
    font-size: 17px;
    margin-bottom: 7px;
}

#custom-spotify-prev {
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 4px;
    color: #f8f8f2;
    background-color: #1e2029;
}

#custom-spotify-next {
    padding: 4px;
    background-color: #1DB954;
    color: #1e2029;
    border-radius: 0px;
}

#battery,
#clock,
#disk,
#pulseaudio {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#backlight {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 12px;
}

#battery,
#window,
#pulseaudio {
    padding-left: 12px;
}

#battery.warning {
    color: #ffb86c;
}

#battery.critical {
    /* TODO blink animation */
    color: #ff5555;
}

#keyboard-state label.locked {
    font-family: Ubuntu Nerd Font;
    font-size: 17px;
    color: #1e2029;
    background-color: #ff79c6;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    border-radius: 20px;
}

#clock,
#cpu,
#temperature {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 12px;
    margin-left: 10px;
}

#custom-temperature-icon {
    color: #ff5555;
}

#memory,
#disk {
    padding-left: 10px;
}

#custom-scratchpads {
    font-family: Ubuntu Nerd Font;
    font-size: 17px;
    color: #1e2029;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    border-radius: 20px;
}

#custom-scratchpads.none {
    background-color: #6272a4;
    color: #1e2029;
}

#custom-scratchpads.one, #custom-scratchpads.many {
    background-color: #bd93f9;
    color: #1e2029;
}

#custom-scratchpads.unknown {
    background-color: #ffb86c;
    color: #1e2029;
}

#tray {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    padding-left: 12px;
}
